@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    font-family: "NotoSansGeorgian-Medium", sans-serif;
    line-height: 1;
    font-weight: 500;
    background: #F5F8FF;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* fonts.css */
@font-face {
    font-family: 'NotoSansGeorgian-Regular';
    src: url('../src/assets/fonts/NotoSansGeorgian-Regular.ttf') format('truetype');
    /* Add other font formats and variations if needed */
}

@font-face {
    font-family: 'NotoSansGeorgian-SemiBold';
    src: url('../src/assets/fonts/NotoSansGeorgian-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansGeorgian-Medium';
    src: url('../src/assets/fonts/NotoSansGeorgian-Medium.ttf') format('truetype');
}
